<a href="https://colab.research.google.com/github/Gokulraj1234/DATASCIENCE-LAB/blob/main/(Gokul_Raj)StudentCopy_NLTK_CO5_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aim: Implement problems on natural language processing - Part of Speech
tagging, N-gram & smoothening and Chunking using NLTK

Short notes:

The **Natural Language Toolkit (NLTK)** is a platform used for building programs for text analysis. One of the more powerful aspects of the NLTK module is the Part of Speech tagging.

**Part-of-speech (POS)** tagging is a process of converting a sentence to forms – list of words, list of tuples (where each tuple is having a form (word, tag)). The tag in case of is a part-of-speech tag, and signifies whether the word is a noun, adjective, verb, and so on.

**keywords**:

Corpus : Body of text, singular. Corpora is the plural of this.

Lexicon : Words and their meanings.

Token : Each “entity” that is a part of whatever was split up based on rules.

**Tags and their meanings**

CD cardinal digit

EX existential there (like: “there is” … think of it like “there exists”)

FW foreign word

IN preposition/subordinating conjunction

JJ adjective ‘big’

JJR adjective, comparative ‘bigger’

JJS adjective, superlative ‘biggest’

NN noun, singular ‘desk’

NNS noun plural ‘desks’

NNP proper noun, singular ‘Harrison’

NNPS proper noun, plural ‘Americans’

PDT predeterminer ‘all the kids’

POS possessive ending parent‘s

PRP personal pronoun I, he, she

PRP$ possessive pronoun my, his, hers

RB adverb very, silently,

RBR adverb, comparative better

RBS adverb, superlative best

RP particle give up

**N-grams** are continuous sequences of words or symbols or tokens in a document. In technical terms, they can be defined as the neighbouring sequences of items in a document. 

**Steps for n-gram model:**

Explore the dataset

Feature extraction

Train-test split

Basic pre-processing

Code to generate N-grams

Creating unigrams

Creating bigrams

Creating trigrams

In [ ]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize, sent_tokenize
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
stop_words = set(stopwords.words('english'))
  
#Dummy text

txt = " Nilamur is located close to the Nilgiris range of the Western Ghats .This place is also known as 'Teak Town'."
# sent_tokenize is one of instances of 
# PunktSentenceTokenizer from the nltk.tokenize.punkt module
tokenized = sent_tokenize(txt)
for i in tokenized:
  

      
    # Word tokenizers is used to find the words 
    # and punctuation in a string
    wordList = nltk.word_tokenize(i)
    
  
    # removing stop words from wordList
    wordList =[w for w in wordList if not w in stop_words]
    
  
    #  Using a Tagger. Which is part-of-speech 
    # tagger or POS-tagger. 
    tagged = nltk.pos_tag(wordList)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [ ]:
print(stop_words)

{'down', 'those', 'nor', 'after', 'himself', 'at', 'aren', "doesn't", 'into', 'which', 'no', 'isn', 'are', 'and', "should've", 'theirs', 'their', 'yourself', 'from', "it's", "couldn't", 'there', "you've", 'against', 'to', 'most', "wasn't", 'own', 'shouldn', 'we', 'my', 'between', 'had', 'each', 'shan', 'does', 'what', 'few', 'don', 'ourselves', 'but', 'yours', 'more', 'having', 'further', 'just', 'd', 'because', "didn't", 'mightn', 'i', "you'd", 'some', 'being', 'yourselves', "won't", 'same', 'other', 'will', 'm', 's', 've', 'over', 'or', 'won', 'until', 'during', 'again', "needn't", 'an', 'such', 'of', 'with', 'll', 'out', 'before', 'him', "isn't", 'it', 'very', 'up', 'whom', 'she', "shan't", 'why', 'both', 'do', 'doing', 'o', 'y', 'should', "you're", 'didn', 'off', 'was', 'about', 'haven', 'needn', 'am', 'where', 'as', 'has', 'itself', 'any', 'you', 'in', "weren't", 'who', 'then', 't', 'them', "hadn't", 'be', 'here', 'the', 'now', 'how', 'me', 'above', 'below', 'ain', "mightn't", "haven't", 'only', "hasn't", "she's", 'than', "aren't", 're', 'they', 'all', 'a', 'its', 'this', 'through', "shouldn't", 'under', 'wasn', 'doesn', "that'll", 'been', 'if', 'her', 'wouldn', 'not', 'once', 'while', 'couldn', 'ma', "don't", 'herself', "wouldn't", 'can', 'when', 'his', 'too', 'our', 'he', "you'll", 'hadn', 'ours', 'these', 'so', 'your', 'is', 'weren', 'themselves', 'for', 'have', 'hers', 'on', 'did', 'by', 'hasn', 'were', 'mustn', 'that', "mustn't", 'myself'}

In [ ]:
print(tokenized)

N-gram model

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use(style = 'seaborn')
#get the data from https://www.kaggle.com/ankurzing/sentiment-analysis-for-financial-news/version/5
colNames = ['Sentiment', 'news']
df = pd.read_csv('/content/all-data.csv - all-data.csv.csv',encoding = 'ISO-8859-1',names=colNames)
df.head()

  Sentiment                                               news
0   neutral  According to Gran , the company has no plans t...
1   neutral  Technopolis plans to develop in stages an area...
2  negative  The international electronic industry company ...
3  positive  With the new production plant the company woul...
4  positive  According to the company 's updated strategy f...

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4846 entries, 0 to 4845
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sentiment  4846 non-null   object
 1   news       4846 non-null   object
dtypes: object(2)
memory usage: 75.8+ KB

In [ ]:
df['Sentiment'].value_counts()

neutral     2879
positive    1363
negative     604
Name: Sentiment, dtype: int64

In [ ]:
y=df['Sentiment'].values
y.shape

(4846,)

In [ ]:
x=df['news'].values
x.shape

(4846,)

In [ ]:
#Split train dataset 
from sklearn.model_selection import train_test_split
xTrain, Xtest, yTrain, yTest = train_test_split(x, y, test_size = .33, random_state = 40)

In [ ]:
#Make train dataset as a dataframe
df1 = pd.DataFrame(xTrain)
df1 = df1.rename(columns = {0:'news'})
df2 = pd.DataFrame(yTrain)
df2 = df2.rename(columns = {0: 'Sentiment'})
dfTrain = pd.concat([df1, df2], axis = 1)
dfTrain.head()

                                                news Sentiment
0  The shops are located in the capital region an...   neutral
1  The serial bond is part of the plan to refinan...   neutral
2  The project is expected to be completed in 2009 .   neutral
3  The objective of the planned measures is to ac...  positive
4  Satama earned Data Management Solutions compet...  positive

In [ ]:
#Make test dataset as a dataframe
df3 = pd.DataFrame(Xtest)
df3 = df3.rename(columns = {0:'news'})
df4 = pd.DataFrame(yTest)
df4 = df4.rename(columns = {0: 'Sentiment'})
dfTest = pd.concat([df3, df4], axis = 1)
dfTest.head()

                                                news Sentiment
0  Originally posted to the PCMag.com security bl...   neutral
1  We are honored to be recognized by Gartner as ...  positive
2  The bridge will be built to the south of the e...   neutral
3  The transaction is in line with Aspo 's strate...  positive
4  ( A spokesperson told WWD to expect a 50-50 mi...   neutral

In [ ]:
#removing punctuations
#library that contains punctuation
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
#defining the function to remove punctuation
def removePunctuation(text):
  if(type(text) == float):
    return text
  ans = ''
  for i in text:
   if i not in string.punctuation:
     ans + i
  return ans

In [ ]:
#storing the puntuation free text in a new column called clean_msg

#punctuations are removed from news column in train dataset
dfTrain['news'] = dfTrain['news'].apply(removePunctuation)
dfTest['news'] = dfTest['news'].apply(removePunctuation)

In [ ]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
#method to generate n-grams:
#params:
#text-the text for which we have to generate n-grams
#ngram-number of grams to be generated from the text(1,2,3,4 etc., default value=1)
def generate_N_grams(text, ngram = 1):
  words = [word for word in text.split(" ") if word not in set(stop_words)]
  print('after removing', words)
  temp = zip(*[words[i:] for i in range(0, ngram)])
  ans = [''.join(ngram) for ngram in temp]
  return ans

In [ ]:
generate_N_grams("The sun rises in the east",2)

after removing ['The', 'sun', 'rises', 'east']

['Thesun', 'sunrises', 'riseseast']

In [ ]:
generate_N_grams("The sun rises in the east",3)

after removing ['The', 'sun', 'rises', 'east']

['Thesunrises', 'sunriseseast']

In [ ]:
generate_N_grams("The sun rises in the east",4)

after removing ['The', 'sun', 'rises', 'east']

['Thesunriseseast']

In [ ]:
s1=['Abeel','Adittya','Akash']
s2=[1,2,3]
s3=zip(s1,s2)
print(set(s3))

{('Akash', 3), ('Abeel', 1), ('Adittya', 2)}

In [ ]:
name=['Gokul','Raj']
s=''.join(name)
s

'GokulRaj'